
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.


// Write your sass code here or import partials


@use 'base';
@mixin article-style{

    width: 25rem;
    height: 35rem;
    padding: 5rem 2rem;
    h1 {
      font-size: 1.9rem;
      color: white;
    }
    img {
      background-color: white;
      width: 3rem;
      padding: 0.5rem;
      border-radius: 50%;
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
    }
    
  
}

body {
  max-width: 100rem;
  margin: 0 auto;
  font-size: 1.5rem;
  
  
}
a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 2rem;
  font-size: 1.5rem;
  .logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    img {
      height: 3rem;
      width: fit-content;
    }
  }
  
 
}
 



ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  gap: 2rem;
}

main {
  min-height: calc(100vh - 10rem - 8rem);
  
.hero {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
.button {
  display: flex;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 1rem 2rem;
  gap: 1rem;
  align-self: flex-end;
  margin-top: 3rem;
  img {
    width: 2rem;
  }
  
}
}

.article-section {
  display: flex;
  margin: 3rem 0;
  padding: 2rem;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}


.article-1 {
  @include article-style;
  background-image: url('../images/white-box.jpg');
  background-size: cover;
  background-position: center;
}

.article-2 {
  @include article-style;
  background-image: url('../images/room.jpg');
  background-size: cover;
  background-position: left center;
}

.article-3 {
  @include article-style;
  background-image: url('../images/black-white.jpg');
  background-size: cover;
}
}

 




footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}
